DATABASE_URL="postgresql://neondb_owner:npg_Y21EnycWtgbk@ep-wandering-credit-a10ezec0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
INSTAGRAM_CLIENT_ID=4138347733123779
INSTAGRAM_CLIENT_SECRET=96c7d08e06a008cabc4708a7023a7157
OPENAI_API_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGVyb2ljLXRocnVzaC03MS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_HPEVbLVXhOKavLNo9Xsy58ksC2fsexLmVGcLvHhUpi
INSTAGRAM_BASE_URL="https://graph.instagram.com"
INSTAGRAM_TOKEN_URL="https://api.instagram.com/oauth/access_token"
NEXT_PUBLIC_HOST_URL=http://localhost:3000
WEBHOOK_VERIFY_TOKEN=dm-ai-webhook-secret-123

FACEBOOK_CLIENT_ID=899726042836368
FACEBOOK_CLIENT_SECRET=598aade4eaa392e0115d2ac03396e3ad
FACEBOOK_GRAPH_BASE_URL=https://graph.facebook.com
FACEBOOK_WEBHOOK_VERIFY_TOKEN=dm-ai-webhook-secret-123



UDDOKTAPAY_BASE_URL=https://sandbox.uddoktapay.com
UDDOKTAPAY_API_KEY=982d381360a69d419689740d9f2e26ce36fb7a50

NEXT_PUBLIC_UDDOKTAPAY_PRO_AMOUNT=500
NEXT_PUBLIC_UDDOKTAPAY_PRO_CURRENCY=BDT
NEXT_PUBLIC_UDDOKTAPAY_BILLING_CYCLE_DAYS=30

AUTH_SECRET=your_long_random_secret
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=your_resend_api_key

AUTH_FROM_EMAIL=hello@shovon.site